nav {
   display: flex;
   justify-content: space-around;
   align-items: center;
   min-height: 10vh;
   height: 15vh;
   background-color: rgb(60, 123, 219);
   color: rgb(255, 255, 255);
   font-size: 12px;
   font-weight: 200;
}

.winc-logo {
   padding: 0 20px;
}

nav a:link,
a:visited {
   text-decoration: none;
   color: rgb(255, 255, 255);
}

a {
   text-decoration: none;
}

.nav-bar-links {
   width: 40%;
   display: flex;
   justify-items: end;
   justify-content: space-around;
   align-items: center;
   list-style: none;
   padding-left: 0;
}

button {
   outline: none;
}

h2 {
   font-weight: 600;
   margin-top: 30px;
}

h4 {
   font-size: 10px;
   font-weight: 200;
}

h5 {
   font-size: 30px;
   font-weight: 600;
}

h6 {
   font-size: 14px;
   margin-bottom: 10px;
}

.app-container {
   text-align: center;
   min-height: 100vw;
}

footer {
   position: fixed;
   bottom: 0;
   display: flex;
   padding-left: 20px;
   align-items: center;
   width: 100%;
   height: vh;
   background-color: #3c7bdb;
   color: rgb(255, 255, 255);
}

.component-container {
   margin: 0 auto 40px auto;

   width: 85%;
   display: block;
   justify-content: center;
}

.page-description {
   margin: 0 auto;
   width: 85%;
   max-width: 700px;
   font-size: 0.8em;
   font-weight: 200;
   line-height: 1.5em;
}

.student-grid-container {
   margin: 0 auto;
   padding: 20px 0;
   width: 85%;
   max-width: 700px;
   display: grid;
   justify-items: center;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(3, 1fr);
   gap: 1px 1px;
   margin-bottom: 100px;
}

.student-tile p {
   font-weight: 100;
}

.student-tile {
   font-size: 0.8em;
   display: flex;
   justify-content: center;
   align-items: center;
   border: solid 1px white;
   width: 130px;
   height: 50px;
   border-radius: 25px;
   margin: 5px;
   color: white;
   background-color: #ecba1d;
   cursor: pointer;
   transition-duration: 300ms;
   transition-property: all;
   transition-timing-function: ease;
}

.student-titel:active {
   background-color: rgb(61, 128, 129);
}

.student-tile:hover {
   background-color: rgb(86, 181, 182);
}

.chart-graphic {
   margin: 0 auto;
   max-width: 800px;
}

.bar-chart,
.line-chart {
   background-color: white;
   margin: 0;
   padding-bottom: 30px;
   box-shadow: 0px 9px 22px -8px rgba(0, 0, 0, 0.53);
}

.line-chart {
   margin-bottom: 100px;
}

.widget-container {
   max-width: 800px;
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
}

.widget-element {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 22%;
   height: 150px;
   background-color: white;
   box-shadow: 0px 4px 15px -10px rgba(0, 0, 0, 0.53);
}

.widget-element h4 {
   margin-top: 0;
}

.display-statistic {
   font-size: 25px;
   font-weight: 600;
}
